<% lots_of_products = Product.includes(:user).all %>

<ul>
	<% lots_of_products.each do |product| %>
	<li>
		<b>Product name:</b> <%= product.name %> 
		<br/><b>Price:</b> $ <%= product.price %>
		<br/><b>Sold By:</b> <%= product.user.name %>
	</li><br/>
	<% end %>
</ul>